.top {
    label {
        &.tile-label {
            padding-left: 4em;
            font-size: 20px;
            font-weight: bold;
        }
    }
    div {
        .party-card{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.75em;
            .tile{
                font-family: "Copperplate Gothic";
                width: 100%;
                height: 45vh;
                border: 1 solid #707070;
                border-radius: 40px;      
                background-color: #ffffffD4;
                padding-right: 2em;    
                padding-left: 2em;
                padding-bottom: 1em;
                &.new{
                    color: #cdcdcd;
                    &:hover{
                        color: #707070;
                    }
                }
                &:hover{
                    background-color: #ffffff80;
                   
                    input {
                        &:disabled {
                            background-color: #ffffffd4;
                        }
                    }
                    table {
                        td {
                            background-color: #ffffffd4
                        }
                    }
                }
                input {
                    cursor: pointer;
                    &:disabled {
                        background-color: white;
                    }
                }
                label {
                    cursor: pointer;
                }

                .party {
                    margin-top: 1.25em;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    .photo-circle {
                        margin-left: 2em;
                        width: 25%;
                        height: 110px;
                        width: 110px;
                        color: #707070;
                        border:2px dotted #707070;
                        background-color: transparent;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        align-items: center;
                        i {
                            margin-top: 3.5em
                        }
                    }
                    .party-id {
                        width: 75%;
                        label {
                            margin-left: 1em;
                            font-size: 16px;
                            font-weight: bold;
                        }
                        input {
                            width: 100%;
                            margin-bottom: 0.5em;                    
                        }
                    }
                }
                .players {
                    width: 100%;
                    text-align: left;
                    label {
                        text-align: left;
                        &.table-label {
                            margin-left: 1em;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    table {
                        text-align: center;
                        width: 100%;
                    }

                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }
                    
                    th, td {
                        width: 25%;
                        padding: 0.5em;
                    }
    
                    th {
                        background-color: #cdcdcd;
                    }
    
                    td {
                        background-color: white;
                    }
                    
                }

               
            }
        }
        
    }
}

.fa-camera { line-height: inherit;}


